# LA Crime data analysis

## Cleaning the data for data analysis

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
crime_data = pd.read_csv('../working Group_4 project/Data/Crime_Data_from_2010_to_2019.csv')
arrest_data = pd.read_csv('../working Group_4 project/Data/Arrest_Data_from_2010_to_Present.csv')
mo_codes = pd.read_csv('../Group_4/Data/MO_Codes.csv')

In [4]:
print(arrest_data.columns)
print(crime_data.columns)

Index(['Report ID', 'Arrest Date', 'Time', 'Area ID', 'Area Name',
       'Reporting District', 'Age', 'Sex Code', 'Descent Code',
       'Charge Group Code', 'Charge Group Description', 'Arrest Type Code',
       'Charge', 'Charge Description', 'Address', 'Cross Street', 'Location'],
      dtype='object')
Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [5]:
crime_data = crime_data[['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1', 'LOCATION', 'Cross Street', 'LAT',
       'LON']]

In [6]:
updated_crime_data = crime_data.rename(columns= {'Date Rptd': 'Date_Reported', 'DATE OCC': 'Date_occured', 'TIME OCC': 'Time_occured', 'AREA ': 'Area_ID', 'AREA NAME': 'Area_name',
       'Rpt Dist No': 'Reporting_district_number', 'Crm Cd': 'Crime_code', 'Crm Cd Desc':'Crime_code_description', 'Mocodes': 'MOC_codes',
       'Vict Age': 'Victim_age', 'Vict Sex': 'Victim_sex', 'Vict Descent': 'Victim_descent', 'Premis Cd': 'Premise_code', 'Premis Desc': 'Premise_description',
       'Weapon Used Cd': 'Weapon_used_code', 'Weapon Desc': 'Weapon_description', 'Status Desc': 'Status_description', 'Crm Cd 1': 'Crime_code', 'LOCATION':'Location', 'Cross Street': 'Cross_street', 'LAT': 'LAT',
       'LON': 'LNG'})

updated_crime_data.head()

,DR_NO,Date_Reported,Date_occured,Time_occured,Area_ID,Area_name,Reporting_district_number,Crime_code,Crime_code_description,MOC_codes,...,Premise_description,Weapon_used_code,Weapon_description,Status,Status_description,Crime_code,Location,Cross_street,LAT,LNG
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,900,VIOLATION OF COURT ORDER,0913 1814 2000,...,SINGLE FAMILY DWELLING,NaN,NaN,AA,Adult Arrest,900.0,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,STREET,NaN,NaN,IC,Invest Cont,740.0,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,946,OTHER MISCELLANEOUS CRIME,0344,...,ALLEY,NaN,NaN,IC,Invest Cont,946.0,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,900,VIOLATION OF COURT ORDER,1100 0400 1402,...,STREET,102.0,HAND GUN,IC,Invest Cont,900.0,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,122,"RAPE, ATTEMPTED",0400,...,ALLEY,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,122.0,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [19]:
arrest_data.columns
updated_arrest_data = arrest_data.rename(columns = {'Report ID':'Report_ID', 'Arrest Date': 'Arrest_date', 'Area ID': 'Area_ID', 'Area Name':'Area_name',
       'Reporting District':'Reporting_district_number', 'Sex Code': 'Sex_code', 'Descent Code':'Descent_code',
       'Charge Group Code': 'Charge_group_code', 'Charge Group Description': 'Charge_group_description', 'Arrest Type Code': 'Arrest_type_code', 'Charge Description':'Charge_description', 'Cross Street': 'Cross_street'})
updated_arrest_data[['LAT','LNG']] = updated_arrest_data.Location.str.strip('()').str.split(",", expand = True)
updated_arrest_data = updated_arrest_data[['Report_ID', 'Arrest_date', 'Time', 'Area_ID', 'Area_name',
       'Reporting_district_number', 'Age', 'Sex_code', 'Descent_code',
       'Charge_group_code', 'Charge_group_description', 'Arrest_type_code',
       'Charge', 'Charge_description', 'Address', 'Cross_street','LAT', 'LNG']]

updated_arrest_data.head()

,Report_ID,Arrest_date,Time,Area_ID,Area_name,Reporting_district_number,Age,Sex_code,Descent_code,Charge_group_code,Charge_group_description,Arrest_type_code,Charge,Charge_description,Address,Cross_street,LAT,LNG
0,5805106,11/21/2019,2100.0,3,Southwest,328,25,M,B,5.0,Burglary,F,459PC,BURGLARY,32ND,HOOVER,34.0255,-118.2839
1,190127182,10/03/2019,1000.0,1,Central,119,30,M,B,20.0,Disorderly Conduct,M,640(D)(3)PC,URINTATIN/DEFECATING ON TRAIN OR SYSTEM,800 N ALAMEDA ST,NaN,34.0563,-118.2374
2,191119468,11/13/2019,1500.0,11,Northeast,1102,39,F,O,NaN,NaN,M,459.2PC,NaN,2900 LOS FELIZ BL,NaN,34.1367,-118.2713
3,4265695,03/11/2015,1315.0,21,Topanga,2118,34,F,B,3.0,Robbery,F,211PC,ROBBERY,ROSCOE BL,WINNETKA AV,34.2202,-118.571
4,4280871,03/26/2015,1200.0,21,Topanga,2172,17,M,H,3.0,Robbery,F,211PC,ROBBERY,5400 VALLEY CIRCLE DR,NaN,34.1684,-118.6426

In [21]:
mo_codes

     MO_Code                                        Description
0        100                                Suspect Impersonate
1        101                                         Aid victim
2        102                                              Blind
3        103                                           Crippled
4        104                                           Customer
..       ...                                                ...
527     2012  costumed character (e.g., Barney, Darth Vader,...
528     2013                              Tour Bus/Van Operator
529     2014                       Suspect was Uber/Lyft driver
530     2015                           Suspect was Foster child
531     9999                                   Indistinctive MO

[532 rows x 2 columns]

In [20]:
updated_arrest_data.to_csv('../working Group_4 project/Data/cleaned_arrest_data.csv')
updated_crime_data.to_csv('../working Group_4 project/Data/cleaned_crime_data.csv')